*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  margin: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.header-nav ul{
  display: flex;
}
.header-nav ul li{
  margin: 10px;
}
main{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
ul{
  list-style: none;
}
.characters-list{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  box-sizing: border-box;
}
.characters-item{
  color: white;
  display: flex;
  border-radius: 10px;
  flex: 1 1 calc(33.333% - 1rem);
  text-align: start;
  box-sizing: border-box;
  background-color: #636262;
}
.characters-item img{
  height: 200px;
  border-radius: 10px 0px 0px 10px;
}
.character-information{
  margin: 10px;
}
button{
  margin: 10px;
}
.pressed{
  background-color: #8ce48f;
  color: black;
}
.status{
  display: flex;
  align-items: center;
  text-align: center;
}
.status span{
  height: 1.2rem;
  margin-right: 3px;
}
.Alive{
  color: #55cc44
}
.Dead{
  color: #d63d2e;
}
.unknown{
  color: #e0833b
}