*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  margin: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.header-nav ul{
  display: flex;
}
.header-nav ul li{
  margin: 10px;
}
main{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
ul{
  list-style: none;
}
.characters-list{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  box-sizing: border-box;

}
.characters-item{
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  flex: 1 1 calc(33.333% - 1rem);
  text-align: start;
  box-sizing: border-box;
}
.characters-item img{
  height: 200px;
}
.characters-item div{
  margin: 10px;
}